<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/sampleSyllabi.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="icon" href="/img/favicon.ico" type="image/gif" sizes="16x16">

    <style media="screen">
      .contain{
        padding: 10px;
      }
    </style>
    <meta name="google" value="notranslate">
  </head>
  <body>
    <div class="row" id="header-top">
      <div id="heading" class="helper">
          <a href="/" alt="Marist College Website">
            <img class="maristLogo" alt="Marist College Logo" src="/img/maristLogo.png" />
          </a>
          <div class="right-align">
            <a href="/logout" class="btn-style"><strong>Logout</strong></a>
          </div>
        </div>
      </div>
    <div class="contain">
      <h4>Checklist Items</h4>
      <% for(var i=0; i < checklist.length; i++) { %>
          <%if (checklist[i]['CHECKED'] == 1) { %>
            <input type="checkbox" id="<%= checklist[i]['ITEM_NAME']%>" name="checkListItem"
            value="<%= checklist[i]['ITEM_NAME']%>" checked>
            <label for="<%= checklist[i]['ITEM_NAME']%>"><%= checklist[i]['ITEM_NAME']%></label><br>
          <% } else{ %>
            <input type="checkbox" id="<%= checklist[i]['ITEM_NAME']%>" name="checkListItem"
            value="<%= checklist[i]['ITEM_NAME']%>" >
            <label for="<%= checklist[i]['ITEM_NAME']%>"><%= checklist[i]['ITEM_NAME']%></label><br>
          <% } %>
      <% } %>
      <input type="button" onclick= "alert(getCheckedCheckboxesFor('checkListItem'));" value="Get Values" />
    </div>
    <%- include('partials/footer'); -%>
  </body>
    <script type = "text/javascript" src= "/js/sampleSyllabi.js"></script>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>
