<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "/css/results.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="icon" href="/img/favicon.ico" type="image/gif" sizes="16x16">
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
    <meta name="google" value="notranslate">
  </head>
  <body>
      <%- include('partials/header'); -%>
      <div class = "center">
        <div class = "score">
          Grade:
        </div>
        <div class = "letGrade">
            <p><%= data['py']['Grade']%></p>
        </div>
      </div>
      <button class="collapsible">Mis-spelled Words</button>
        <div class="contents">
          <table>
            <% for(var i=0; i < data.sc.mispelled.length; i++) { %>
              <tr>
                <td><%= data['sc']['mispelled'][i]%></td>
              </tr>
              <% } %>
            </table>
        </div>
      <button class="collapsible">Sentiment Analysis</button>
      <div class="contents">
        <input type="range" id="myRange" min="1" max="100" value="<%= data['output']%>" class="slider" disabled>
      </div>
      <button class="collapsible">Missing Elements</button>
      <div class="contents">
        <table>
          <% for(var i=0; i < data.py.Missing.length; i++) { %>
            <tr>
              <td><%= data['py']['Missing'][i]%></td>
            </tr>
            <% } %>
          </table>
      </div>
    <%- include('partials/footer'); -%>
  </body>
  <script type = "text/javascript" src= "/js/results.js"></script>
</html>
