<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/modifySampleSyllabi.css">
    <link rel="icon" href="/img/favicon.ico" type="image/gif" sizes="16x16">
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>

    <meta name="google" value="notranslate">
  </head>
  <body>
    <%- include('partials/header'); -%>
    <div class="contain">
      <div class="center-head">
        <span class="edit-header">USER SAVED SYLLABI</span>
      </div>

      <% for(var i=0; i < syllabi.length; i++) { %>
        <div class="syl">
          <button class="remove" name="<%= syllabi[i]['Key']%>">x</button>
          <a href = "https://s3.us-south.cloud-object-storage.appdomain.cloud/<%= user['bucketName'] %>/<%= syllabi[i]['Key'] %>" target="blank" class="samplesyl"><%= syllabi[i]['Key']%></a>
        </div>
      <% } %>

      <% if(syllabi.length > 0) { %>
        <button class="removeAll" name="removeAll">REMOVE ALL</button>
      <% } %>

    </div>
    <%- include('partials/footer'); -%>
  </body>
  <script src="js/jquery.matchHeight.js" type="text/javascript"></script>
  <script type = "text/javascript" src= "/js/userSyllabi.js"></script>
</html>
